<h1>Make your form here</h1>
<form action="/pirates" method="post">
  <label>Pirate: </label>
    <input type"text" name="pirate[name]" placeholder="Pirate Name">
    <input type"text" name="pirate[height]" placeholder="Pirate Height">
    <input type"text" name="pirate[weight]" placeholder="Pirate Weight">
  <label>Ship 1: </label>
    <input id="ship_name_1" type="text" name="pirate[ships][][name]" placeholder="Ship Name">
    <input id="ship_type_1" type="text" name="pirate[ships][][type]" placeholder="Ship Type">
    <input id="ship_booty_1" type="text" name="pirate[ships][][booty]" placeholder="Ship Booty">
  <label>Ship 2: </label>
    <input id="ship_name_2" type="text" name="pirate[ships][][name]" placeholder="Ship Name">
    <input id="ship_type_2" type="text" name="pirate[ships][][type]" placeholder="Ship Type">
    <input id="ship_booty_2" type="text" name="pirate[ships][][booty]" placeholder="Ship Booty">
    <input type="submit" value="Submit">
</form>
